.DS_Store
sentinel/settings.js
sentinel/settings-test.js
sentinel/Procfile
npm-debug.log
node_modules
node_modules_backup
/scripts/node_modules/
/scripts/token.json
/config.js
/tests/results
/tests/logs/
*.sublime-project
*.sublime-workspace
/.env
coverage/
dist
!**/pupil/dist
/ddocs/compiled.json
/packages
/static
.vscode/
.idea/
/build/
api/**/extracted-resources/**/*
api/build/**/*
jsdocs
*/.gdrive.*.json
*/.snapshots/*
*/backups/*
/backups/
*/json_docs/*
*/upload-docs.*
*/users.csv
forms/app/*.xml
forms/contact/*.xml
!forms/contact/PLACE_TYPE-create.xlsx
!forms/contact/PLACE_TYPE-edit.xlsx
!forms/contact/person-create.xlsx
!forms/contact/person-edit.xlsx
.snapshots/
/**/*/.snapshots/local.json
tests/integration/results/
allure*
.snapshots/*
ComBaCaL_commands.bat
json_docs/*
.nyc_output/*
dockerize/production_env/srv/
dockerize/move-contacts/data
dockerize/move-contacts/data-bck
dockerize/move-contacts/cht.env
/venv/*